{% extends 'base_user.html' %}

{% block head %}
    <script>
        $(function () {
            get_total();
            //获取除了全选的checkbox，绑定单击事件
            //$(':checkbox')
            function get_total() {
                //计算小计、总价、个数
                var total_price = 0;
                var total_count = 0;
                var total_select = 0;
                $('.cart_list_td').each(function (i, n) {
                    //i表示列表中元素的索引，n表示列表中某个元素
                    //find————找后代的某个元素
                    //获取某个商品的价格
                    var price = parseFloat($(n).find('span').text());
                    //获取某个商品的数量
                    var count = parseInt($(n).find('.num_show').val());
                    //计算小计
                    var total = price * count
                    //显示小计
                    $(n).children('.col07').children('em').text(total.toFixed(2));
                    if(!isNaN(count)){
                        total_count += count;
                    }
                    if($(n).children('.col01').children('input').prop('checked')){
                        total_select += count;
                        //计算总计
                        total_price += total;
                    }
                });
                //显示总计
                $('.settlements').find('em').text(total_price.toFixed(2));
                //显示总商品数量
                $('.total_count>em').text(total_count);
                //显示选中的商品的数量
                $('.settlements>b').text(total_select)
            }
        })
    </script>

{% endblock head %}

{% block body2 %}
    <div class="total_count">全部商品<em></em>件</div>
    <ul class="cart_list_th clearfix">
        <li class="col01">商品名称</li>
        <li class="col02">商品单位</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
        <li class="col06">操作</li>
    </ul>
    {% for sku in sku_list %}
        <ul class="cart_list_td clearfix">
            <li class="col01"><input type="checkbox" name="" checked value="{{ sku.id }}"></li>
            <li class="col02"><img src="{{ sku.default_image.url }}"></li>
            <li class="col03">{{ sku.name }}<br><em>{{ sku.stock }}</em></li>
            <li class="col04">{{ sku.unit }}</li>
            <li class="col05"><span>{{ sku.price }}</span>元</li>
            <li class="col06">
                <div class="num_add">
                    <input type="button" class="add fl" value="+">
                    <input type="text" class="num_show fl" value="{{ sku.cart_count }}">
                    <input type="button" class="minus fl" value="-">
                </div>
            </li>
            <li class="col07"><em></em>元</li>
            <li class="col08"><a href="javascript:;">删除</a></li>
        </ul>
        {% empty %}
        <ul class="cart_list_td clearfix"><li>暂未加入任何商品</li></ul>
    {% endfor %}

    <ul class="settlements">
        <li class="col01"><input type="checkbox" name="" checked=""></li>
        <li class="col02">全选</li>
        <li class="col03">合计(不含运费)：<span>¥</span><em></em><br>共计<b></b>件商品</li>
        <li class="col04"><a href="place_order.html">去结算</a></li>
    </ul>
{% endblock body2 %}